# required clang-format 20.1.0
Language: Cpp
Standard: c++20

BasedOnStyle: Google

ColumnLimit: 79

AccessModifierOffset: -4
IndentWidth: 4
TabWidth: 4
UseTab: Never

AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: Consecutive
AllowAllParametersOfDeclarationOnNextLine: false
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: BinPack
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseLabels: false
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PackConstructorInitializers: BinPack
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 1
PenaltyBreakOpenParenthesis: 1
PointerAlignment: Left
SortIncludes: Never
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
